.*.d
*.o
dessert-stroke
dessert-stroke.exe
Config.mak
spankassets
spankassets.exe
mktile
mktile.exe
mkmap
mkmap.exe
.*.swp
TODO
data
.settings
.project
.cproject
ds3d.tar.gz
ds3d.zip
glew32.dll
SDL.dll
Config.local.mak
